/* SideBox.css */

/* Styles for the side box container */
.side-box {
    position: absolute;
    top: 49%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #ccd5ae;
    padding: 20px;
    border: 3px solid #f0ead2;
    border-radius: 20px;
    margin-top: 50px;
}

/* Styles for text area inside the side box */
.side-box textarea {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

/* Styles for input type file inside the side box */
.side-box input[type="file"] {
    margin-bottom: 10px;
}

/* Styles for button inside the side box */
.side-box button {
    background-color: #6C584C;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.side-box button:hover {
    background-color: #CCD5AE;
}

/* Styles for heading inside the side box */
.side-box h2 {
    font-family: cursive;
    color: #6C584C;
}

/* Styles for form inside the side box */
.side-box form {
    font-family: 'Readex Pro';
}
