/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif; /* Ensure fallback font */
}

footer {
    color: #6C584C;
    background-color: white; /* Example background color */
    width: 100%;
    position: fixed;
    bottom: 0;
}

h2,
h3 {
    color: white; /* Change 'blue' to any color you prefer */
}

/* Style for navigation bar */
.navbar {
    background-color: #ffffff;
    color: #5C8444;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .hamburger-btn {
    color: #6C584C;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .pages,
.navbar .profile {
    list-style-type: none;
    font-size: 12px;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #6C584C;
    font-size: 17px;
}

.navbar ul li a:hover {
    color: #CCD5AE; /* Change color on hover */
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .navbar .hamburger-btn {
        display: block;
    }

    .navbar .pages {
        display: none;
    }
}
