.note-details {
  flex-grow: 1;
  margin-left: 10px; /* Decreased margin */
}

.selected-note {
  background-color: #fff;
  padding: 10px; /* Decreased padding */
  border-radius: 5px; /* Smaller border radius */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Lighter box shadow */
  border: 1px solid #dddddd; /* Thinner border */
}

.selected-note img.note-image {
  max-width: 100%;
  border-radius: 3px; /* Smaller border radius */
  margin-top: 5px; /* Decreased margin top */
  display: block;
  max-height: 150px; /* Decreased max height */
}

.select-note {
  color: #AF8F6F;
  margin-top: -50px; /* Decreased negative margin */
}

.select-note-box {
  border: 1px solid #B5C18E;
  padding: 20px; /* Decreased padding */
  margin-top: 50px; /* Decreased margin top */
  height: 400px; /* Decreased height */
  width: 150px; /* Decreased width */
  border-width: 2px; /* Thinner border width */
}
