.note-details {
  flex-grow: 1;
  margin-left: 20px;
}

.selected-note {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selected-note img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.select-note {
  color: #999;
}
