.side-box-container {
  display: flex;
  height: 100vh;
}

.side-box {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.notes-list {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #7f1313;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  top: -100px; 
 
}

.note-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.note-title h3 {
  margin: 0;
  flex-grow: 1;
  cursor: pointer;
}

.note-title button {
  background: rgb(201, 195, 155);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  
}

.note-details {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  colo
}

.note-details img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}
