.side-box-container {
    display: flex;
    justify-content: space-between;
  }
  
  .side-box {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .notes-display {
    width: 65%;
    padding: 20px;
  }
  
  .note-title {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .note-details {
    margin-top: 20px;
  }
  
  .note-details img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
  }
  