.side-box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.side-box,
.notes-list,
.note-details {
  flex: 1;
  padding: 20px;
}

.side-box {
  background-color: #f0f0f0;
}

.side-box h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.side-box form {
  display: flex;
  flex-direction: column;
}

.side-box input[type="text"],
.side-box textarea,
.side-box input[type="file"],
.side-box input[type="color"],
.side-box button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.side-box textarea {
  resize: none;
}

.side-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.notes-list {
  border-right: 1px solid #ccc;
}

.note-container {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.note-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.note-container:hover {
  background-color: #f0f0f0;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.selected-note {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.selected-note h3 {
  margin-top: 0;
}

.selected-note p {
  margin-bottom: 20px;
}

.selected-note img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.select-note-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.select-note {
  font-size: 1rem;
}
