/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white /* Change 'blue' to any color you prefer */
  }


h3 {
    color: white /* Change 'blue' to any color you prefer */
  }

  
/* Style for navigation bar */
.navbar {
    background-color: #C2C5AA; 
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid gray;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

/* Style for calender */
.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #dde5b6;
    width: 1000px;
    min-height: 850px;
    position: absolute;
    left: -30px;
    background-color: #C2C5AA;
    padding: 50px; /* Increased padding */
    margin-top: 40px;
    border-radius: 20px; /* Added border radius for rounded corners */

  }
  .calendar {
   position: relative;
   left: -30px;
   display: flex;
   width: 700px;
   height: 500px;
   flex-direction: column;
   flex-wrap: wrap;
   color: #5C8444;
   border-radius: 5px;
   padding: 20px 20px 20px 20px;
   background-color: #fff;
  }
  .calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #5C8444;
  }
  .calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #5C8444;
  }
  .calendar .header .btns {
    display: flex;
    gap: 10px;
  }
  .calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #5C8444;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .calendar .header .btns .btn:hover {
    background-color: #DDE5B6;
    transform: scale(1.05);
  }
  .weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color: #5C8444;
  }
  .weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .days .day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #5C8444;
    background-color: #DDE5B6;
    border: 1px solid #DDE5B6;
    transition: all 0.3s;
  }
  .days .day:not(.next):not(.prev):hover {
    color: #5C8444;
    background-color: #fff;
    transform: scale(1.05);
  }
  .days .day.today {
    color: #5C8444;
    background-color: #fff;
    border: 1px solid #DDE5B6;

  }
  .days .day.next,
  .days .day.prev {
    color: #ccc;
  }

  /* Style for tasks*/

  