/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white /* Change 'blue' to any color you prefer */
  }


h3 {
    color: white /* Change 'blue' to any color you prefer */
  }

  
/* Style for navigation bar */
.navbar {
    background-color: #C2C5AA; 
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid gray;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

/* Style for calender */
.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #dde5b6;
    width: 1000px;
    min-height: 850px;
    position: absolute;
    left: -30px;
    background-color: #C2C5AA;
    padding: 50px; /* Increased padding */
    margin-top: 40px;
    border-radius: 20px; /* Added border radius for rounded corners */

  }
  .calendar {
   position: relative;
   left: -30px;
   display: flex;
   width: 700px;
   height: 500px;
   flex-direction: column;
   flex-wrap: wrap;
   color: #5C8444;
   border-radius: 5px;
   padding: 20px 20px 20px 20px;
   background-color: #fff;
  }
  .calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #5C8444;
  }
  .calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #5C8444;
  }
  .calendar .header .btns {
    display: flex;
    gap: 10px;
  }
  .calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #5C8444;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .calendar .header .btns .btn:hover {
    background-color: #DDE5B6;
    transform: scale(1.05);
  }
  .weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color: #5C8444;
  }
  .weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .days .day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #5C8444;
    background-color: #DDE5B6;
    border: 1px solid #DDE5B6;
    transition: all 0.3s;
  }
  .days .day:not(.next):not(.prev):hover {
    color: #5C8444;
    background-color: #fff;
    transform: scale(1.05);
  }
  .days .day.today {
    color: #5C8444;
    background-color: #fff;
    border: 1px solid #DDE5B6;

  }
  .days .day.next,
  .days .day.prev {
    color: #ccc;
  }

  /* Style for tasks*/

  .container .tasks {
    position: relative;
    width: 50%;
    min-height: 100%;
    padding: 20px 0;
    color: white;
  }

  .tasks .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .tasks .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    color: #5C8444;
  }
  .tasks .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #5C8444;
  }
  .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }
  .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #5C8444, transparent);
    cursor: pointer;
  }
  /* even event */
  .events .event:nth-child(even) {
    background: transparent;
  }
  .events .event:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
  }
  .events .event i {
    color: var(--primary-clr);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: #fff;
  }
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #5C8444;
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: #fff;
  }
  /* add tick in event after */
  .events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
  }
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #5C8444;
    border: 2px solid #5C8444;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #5C8444;
  }
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 300px;
  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #5C8444;
    border-bottom: 1px solid #f5f5f5;
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--primary-clr);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #5C8444;
  }
  .add-event-body .add-event-input input::placeholder {
    color: #5C8444;
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--primary-clr);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
  }
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--primary-clr);
  }
  
  