body {
    background-color:#e1f7e5;
    font-family: sans-serif;
    padding: 1em;
  }

h1{
    text-align:center;
}

h1, h2, h3 {
    color:#1c380d;
}

a {
    color: inherit;
}

p, strong, ul {
    color:#274e13;
}

