/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro';
}

footer {
color: #6C584C;
position: absolute;
bottom: 0;
}

h2 {
  color: white /* Change 'blue' to any color you prefer */
}


h3 {
  color: white /* Change 'blue' to any color you prefer */
}

/* Style for navigation bar */
.navbar {
  background-color: #ffffff; 
  color: #5C8444;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar .pages {
 list-style-type: none;
 position: relative;
 left: 1px;
 font-size: 12px;
}

.navbar .profile {
list-style-type: none;
font-size: 12px;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #6C584C;
  font-size: 17px;
}

.hero {
  height: 100vh;
  background-image: url('img/houseplants6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}

.hero-content h1 {
  font-size: 48px;
  color: #538444;
  margin-bottom: 50px;
}

.hero-content p {
  font-size: 24px;
  color: #538444;
  margin-bottom: 10px;
  line-height: 1.5;
  max-width: 500px;
}

.hero-content button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #538444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #406c35;
}
  
  .image-section {
    width: 50%;
    background-size: cover;
    background-position: center;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }