body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Readex Pro', sans-serif;
}

main {
  flex: 1;
  padding-bottom: 60px;
  height: 100%;
}

.banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

h2 {
  color: #5b8444;
}

.title-section h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-section input[type="text"],
.search-section button {
  margin: 0 10px;
  height: 40px;
}

.search-section input {
  border-radius: 15px;
  background-color: #EFEFEF;
  border: none;
  width: 60%;
  padding-left: 20px;
}

.search-section button {
  border-radius: 15px;
  border: none;
  width: 20%;
  background-color: #CCD5AE;
  cursor: pointer;
}

.plant-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 322px;
  height: 322px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 186px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.plant-name {
  margin: 0;
  font-size: 16px;
  color: #538444;
}

.plant-blurb {
  margin: 5px 0 0;
  font-size: 14px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #6C584C;
  padding: 10px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .banner {
    max-height: 300px;
  }

  .search-section input {
    width: 40%;
  }

  .search-section button {
    width: 15%;
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: calc(50% - 20px); 
  }
}

@media (min-width: 992px) {
  .banner {
    max-height: 400px;
  }

  .search-section input {
    width: 30%;
  }

  .search-section button {
    width: 10%;
  }

  .card {
    width: calc(33.33% - 20px); 
  }
}
