* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro';
}

header {
  margin-bottom: 20px; /* Add margin to the bottom of the header */
}


h1 {
  color: #5C8444;
}

h2 {
    color: #5b8444;
}

h3 {
  color: #CCD5AE 
}

.plant-title,
.main-plant,
.plant-care {
  width: calc(33.33% - 20px); /* 33.33% width for each column with 20px gap */
  margin-right: 20px; /* Gap between columns */
  float: left; /* Float left to create columns */
  margin-top: 20px; /* Add margin to the top of the first section */
}
.plant-title {
  padding: 20px;
  border-radius: 5px;
  margin-right: 0; /* Reset margin-right for first column */
}

.plant-blurb {
    margin: 5px 0 0;
    font-size: 14px;
}

.main-plant {
  height: 100vh;
  background-image: url(img/monsterabiggo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.plant-image img {
  max-width: 100%; /* Ensures the image does not exceed its container's width */
  height: auto; /* Maintains the image's aspect ratio */
  display: block; /* Ensures the image is displayed as a block element */
  margin: 0 auto; /* Centers the image horizontally within its container */
}


.plant-care {
  padding: 20px;
  border-radius: 5px;
  margin-right: 0; /* Reset margin-right for last column */
}

  footer {
  color: #6C584C;
  position: absolute;
  bottom: 0;
  }
