/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro';
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar .hamburger-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  color: #6C584C;
  order: 1;
}

.navbar h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0 auto;
  color: #5C8444;
  font-size: 2rem;
  order: 2;
}

.navbar .pages{
  display: none;
}

.mobile-nav {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CCD5AE;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  text-align: center;
}

.mobile-nav.open {
  width: 100%; /* Adjust width as needed */
}

.mobile-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6C584C;
  display: block;
  transition: 0.3s;
  justify-content: center;
}

.mobile-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 18px;
  margin-left: 50px;
  cursor: pointer;
}

@media (min-width: 598px) {
  .navbar-content {
      flex-direction: row;
  }

  .navbar h1 {
      order: 1;
      text-align: left;
      width: auto;
      flex-grow: 0;
      margin: 0;
  }

  .navbar .pages {
      display: block;
      order: 2;
      margin-left: auto;
  }
}

@media (min-width: 992px) {
  .navbar {
      background-color: #ffffff;
      color: #5C8444;
      padding: 10px 20px;
  }

  .navbar .hamburger-btn {
      display: none;
  }

  .navbar .pages {
      list-style-type: none;
      font-size: 12px;
      display: flex;
      justify-content: flex-end;
  }

  .navbar ul li {
      display: inline;
      margin-right: 20px;
  }

  .navbar ul li a {
      text-decoration: none;
      color: #6C584C;
      font-size: 17px;
  }

  .navbar ul li a:hover {
      color: #CCD5AE; /* Change color on hover */
  }

  .mobile-nav {
      display: none;
  }
}
