/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro';
}

.navbar .pages {
  display: none;
}

.navbar .profile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar h1 {
  order: 2;
  /* Position the h1 element on the right */
  flex-grow: 1;
  /* Allow h1 to take up available space */
  text-align: center;
  /* Center the text within the h1 */
  margin: 0 auto;
  /* Center the element */
  width: 100%;
  /* Ensure the h1 takes full width */
  color: #5C8444;
  font-size: 2rem; /* Increase font size for a larger button */
}

.navbar .hamburger-btn {
  display: inline-block;
  /* Display as inline-block */
  vertical-align: middle;
  /* Align vertically */
  cursor: pointer;
  /* Add cursor pointer */
  order: 1;
  font-size: 2rem; /* Increase font size for a larger button */
  padding: 10px; /* Add padding for better clickability */
  color: #6C584C;
}

.mobile-nav {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CCD5AE;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  text-align: center;
}

.mobile-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6C584C;
  display: block;
  transition: 0.3s;
  justify-content: center;
}

.mobile-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 18px;
  margin-left: 50px;
}

@media (min-width: 598px) {
  .navbar h1 {
      position:relative;
      left:50%;
      width:50%;
      justify-content: center;
      }
}

@media (min-width: 992px) {

/* Style for navigation bar */
.navbar {
  background-color: #ffffff; 
  color: #5C8444;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar .hamburger-btn {
color: #6C584C;
font-size: 1.5rem;
cursor: pointer;
display: none;
}

.navbar h1 {
position:relative;
left:0;
width:30%;
justify-content: center;
}

.navbar .pages {
 list-style-type: none;
 position: relative;
 left: 1px;
 font-size: 12px;
 display: block;
}

.navbar .profile {
list-style-type: none;
font-size: 12px;
display: block;
position: relative;
left: 87%;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #6C584C;
  font-size: 17px;
}

.navbar ul li a:hover {
  color:#CCD5AE; /* Change color on hover */
}

/* Dropdown menu*/

.mobile-nav {
display: none;
}

.hamburger-btn {
  display: none;
}

}