searchfilter.css

.search-filter-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
    width: 100%; 
    text-align: center; 
}

.all-col {
    display: flex;
    justify-content: space-between; 
    width: 50%;
}

.all-col .col {
    flex: 1;
    max-width: 23%; 
    box-sizing: border-box; 
    padding: 10px; 
}

.search-filter-container input[type="text"] {
    margin-bottom: 10px;
}

.search-filter-container h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

.search-filter-container .form-control {
    border-radius: 15px;
    background-color: #efefef;
    border: none;
    width: 100%; 
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.search-filter-container .dropdown {
    position: relative; 
    width: 100%;
}

.search-filter-container .dropdown-toggle {
    width: 100%;
    background-color: #fff;
    color: #5b8444;
    border: 1px solid #ccc;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.search-filter-container .dropdown-toggle:hover,
.search-filter-container .dropdown-toggle:focus {
    background-color: #f5f5f5;
}

.search-filter-container .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    z-index: 1000;
}

.search-filter-container .dropdown-menu.show {
    display: block;
}

.search-filter-container .dropdown-menu.show .dropdown-item {
    color: #333;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center; 
}

.search-filter-container .dropdown-item input[type="checkbox"] {
    margin-right: 10px; 
}

.search-filter-container .dropdown-item:hover {
    background-color: #f5f5f5;
    color: #5b8444;
}

.filter-btn{
background-color: #5b8444;
border: 0;
color: #fff;
border-radius: 5px;
padding: 10px 20px; 
width: auto; 
height: auto;
cursor: pointer; 
}



@media (max-width: 598px) {
    .all-col {
        flex-direction: column; 
    }

    .all-col .col {
        flex: 1 0 100%; 
        max-width: 100%; 
    }
}

@media (min-width: 992px) {
    .search-filter-container {
        flex-direction: row;
        justify-content: center;
    }

    .search-filter-container .col {
        margin-bottom: 0;
    }

    .search-filter-container .form-control,
    .search-filter-container .dropdown-toggle,
    .search-filter-container .dropdown-menu {
        width: 100%; 
    }
}

