.container {
  display: flex;
  height: 100vh;
}

.welcome-message {
  font-size: 40px;
  width: 471px;
  height: 60px;
  font-weight: 800; 
  color: #538444;
  position: absolute;
  top: 100px;
}

.message {
  font-size: 15px;
  width: 255px;
  height: 20px;
  font-weight: 800;
  color: #adc178;
  position: absolute;
  top: 170px;
}

.input-text {
  width: 100%;
}

.email {
  font-size: 16px;
  width: 50px;
  height: 20px;
  font-weight: 800;
  color:#538444
}

.login-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}
input {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #538444;
  border-bottom: 2px solid #538444;
  background-color: #f2f2f2;
}

::placeholder {
  color: #538444;
}


.image-section {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.remember-container {
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #ADC178;
  display: flex;
  justify-content: space-between;  
  padding-top: 15px;
  padding-bottom: 15px;
}

.remember-container label a{
  color: #ADC178;
  text-decoration: none;
}

button {
  background-color: #5C8444;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 15px;
}

.signup-message{
  color: #ADC178;

}
.signup-message a {
  color: #ADC178;

}